<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <ExcludeByNamespace>Mediator</ExcludeByNamespace>
          <ExcludeByFile>**/obj/**/*.g.cs</ExcludeByFile>
          <ExcludeByFile>**/Mediator.*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>